h1 {
    color:cornflowerblue;
    text-align: center;

}

h2 {
    color:cornflowerblue
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #D6FF6B;
}

img {
    border: 20px #FD98FB solid;
    border-radius: 60px;
}